@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-style {
  border: 2px solid beige;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
}